<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chilangolabs.mdb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlueForm">
        <service android:name=".services.MDBFirebaseMessaginService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppThemeBlue" />
        <activity android:name=".TellUsAboutYourBussines" />
        <activity android:name=".SelectMainCardActivity" />
        <activity android:name=".AddDestinyAccountActivity" />
        <activity
            android:name=".CardsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".NewAccountBancomerActivity" />
        <activity android:name=".RegisterAccountCPCURPActivity" />
        <activity android:name=".RegisterPersonalInfoActivity" />
        <activity android:name=".RegisterAddressActivity"></activity>
    </application>

</manifest>